{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper" style="max-width:520px;margin-top:50px;">
  <div class="section-card">
    <h2 class="section-title">Alterar senha</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="input-group">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
      </div>
      <div class="input-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </div>
      <div class="input-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>

      <button type="submit" class="btn-primary">Alterar senha</button>
    </form>
  </div>
</div>
{% endblock %}
