{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-body">

    <div class="register-container">

        <div class="form-section register-left">
            <div class="form-box">
                <h2 class="login-title">Cadastro</h2>

                <form method="POST">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="error-box">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <input type="text" name="name" placeholder="Nome completo" class="input-field" required value="{{ form.name.value|default_if_none:'' }}">

                    <input type="email" name="email" placeholder="E-mail" class="input-field" required value="{{ form.email.value|default_if_none:'' }}">

                    <input type="password" name="password" placeholder="Senha" class="input-field" required>

                    <input type="password" name="confirm_password" placeholder="Confirmar senha" class="input-field" required>

                    <input type="text" name="phone" placeholder="WhatsApp" class="input-field" required value="{{ form.phone.value|default_if_none:'' }}">

                    <button type="submit" class="login-button">Cadastrar</button>
                </form>

                <p class="login-links">
                    Já tem conta? <a href="{% url 'login' %}">Clique Aqui</a>
                </p>
            </div>
        </div>

        <div class="image-section register-right">
            <img src="{% static 'img/salao.jpeg' %}" class="register-image">
        </div>

    </div>

</body>
</html>
