{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-body">

    <div class="register-container">

        <!-- PARTE ESQUERDA - FORMULÁRIO -->
        <div class="form-section register-left">
            <div class="form-box">
                <h2 class="login-title">Cadastro</h2>

                <form method="POST">
                    {% csrf_token %}

                    <!-- NOME -->
                    <input type="text" name="name" placeholder="Nome completo" class="input-field" required>

                    <!-- EMAIL -->
                    <input type="email" name="email" placeholder="E-mail" class="input-field" required>

                    <!-- SENHA -->
                    <input type="password" name="password" placeholder="Senha" class="input-field" required>

                    <!-- CONFIRMAR SENHA -->
                    <input type="password" name="password2" placeholder="Confirmar senha" class="input-field" required>

                    <!-- TELEFONE -->
                    <input type="text" name="phone" placeholder="WhatsApp" class="input-field" required>

                    <button type="submit" class="login-button">Cadastrar</button>
                </form>

                <p class="login-links">
                    Já tem conta? <a href="{% url 'login' %}">Clique Aqui</a>
                </p>
            </div>
        </div>

        <!-- PARTE DIREITA - IMAGEM -->
        <div class="image-section register-right">
            <img src="{% static 'img/salao.jpeg' %}" class="register-image">
        </div>

    </div>

</body>
</html>
