{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Espaço Ana Valente</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/modals.js' %}" defer></script>
  

  {% block extra_head %}{% endblock %}
</head>
<body>

  {% block show_header %}{% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer-main">
    © {{ now.year }} Espaço Ana Valente | Todos os direitos reservados
  </footer>

  <div id="toast" class="toast" aria-live="polite"></div>

{% block extra_scripts %}{% endblock %}
</body>
</html>
